@model IEnumerable<Mvc.Models.Course>

@{
    ViewData["Title"] = "OneTOMany";
}

<h1>OneTOMany</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>Students</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @foreach (var st in item.Students)
                {
                <li>
                    @Html.DisplayFor(var1 => st.StudentName) |
                    @Html.DisplayFor(var2 => st.StudentId)
                </li>
                }
            </td>
        </tr>
}
    </tbody>
</table>
